.download {
    border: 2px solid gray;
    border-radius: 4px;
    height: 35%;
    width: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2px;
    background-color:  #1D222A;
    
    color: wheat;
}
.download:hover {
    scale: (1);
}
AiOutlineLink {
    display: flex;
    align-items: center;
    justify-content: center;
}