.card-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 20px;
    width: 100%;
    min-height: 70vh;
}
.more-to-come {
    display: flex;
    justify-content: center;
    color: #00ADB5;
    font-family: 'Roboto', sans-serif;
    
}
.toolset {
    color: #00ADB5;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -30px;
    
}
.project-main-div {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}   
.project-page-title {
    display: flex;
    width: 100%;
    justify-content: center;
    color: #00ADB5;
} 