.card-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height:80%;
    width: 100%;
}
.more-to-come {
    display: flex;
    justify-content: center;
    color: #00ADB5;
    font-family: 'Roboto', sans-serif;
    
}