
.card {
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 3px 4px 0 0 #00ADB5;
    flex-direction: column;
    height: 450px;
    justify-content: flex-end;
    padding: 0;
    width: 400px;
    
   
}

.button-container {
    display: flex;
    height: 30%;
    width: 100%;
    justify-content: center;
    align-content: center;
    gap: 25px;

}
.card-img-div {
    display: flex;
    width: 100%;
    height:70%;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.card > img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 60%;
    width: 100%;
}
.bottom-card {
    display: flex;
    flex-direction: column;
    gap: 0;
    height: 35%;
    justify-content: space-evenly;
    padding: 10px;
    background-color: #eeeeee;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* .bottom-card > h2 {
    padding: 0;
    margin: 0;
} */
/* .bottom-card {
    margin: 0;
    padding: 0;
} */