@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,300&display=swap');

.mainDiv {
  display: flex;
  width: 100%;
  height: 80%;
  flex-direction: row;
  margin-top: 60px;
  scroll-behavior: smooth;
}

.leftPageDiv {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.nameTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40%;
  width: 50%;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  margin-left: 10%;
  margin-top: 0%;
  margin-bottom: 8%;
  margin-right: 0%;
  padding: 0%;

  letter-spacing: -0.02em;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


}
.nameTitle>h1 {

  width: 100%;
  margin: 0;
  font-weight: 1000;

}

.nameTitle>h2 {
  display: flex;
  color: #eeeeee;
  font-weight: 100;

  margin: 0;

}

.nameTitle>h1 {
  color: #eeeeee;
  margin-top: 0;


}

.nameTitle>h1>span {
  /* display: flex; */
  color: #00ADB5;
  font-weight: 700;
}

.hiElement {
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 150px;
  font-weight: 700;
  color: #393E46;
  mix-blend-mode: screen;
  opacity: 0.5;
  color: rgba(128, 128, 128, 0.4);
  margin: 0;
  margin-left: 17rem;
  padding: 0;
  padding-top: 4rem;
  padding-bottom: 0rem;
}

.hi-element:hoover {
  color: #77FF04
}

.nameElement>div>h1 {
  color: #eeeeee;
}


.description {
  height: 30%;
  width: 50%;
  margin-top: -20px;
  margin-left: 10%;
  box-shadow: -0px -8px 0px #00ADB5;
  border-radius: 30;
  font-family: 'Roboto', sans-serif;
  padding-top: 4%;

}


.description>h3 {
  color: gray;
  font-weight: 600;
  margin-top: 0;
  padding: 0;
}

.description>p {
  color: #eeeeee;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.imgDiv {
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.imgDiv>img {
  display: flex;
  width: 350px;
  height: 400px;
  border-radius: 30px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 600px) {
  .hiElement {
    display: none;
  }
  .mainDiv {
    flex-direction: column-reverse;
    
    align-items: center;
    /* min-height: 100%; */
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
  }
  .imgDiv > img {
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }
  .imgDiv {
    height: 200px;
    width: 200px;
  }
  .leftPageDiv {
    width: 100%;
    height: 350px;
    align-items: center;
    justify-content: space-around;
  }
  .nameTitle {
    margin: 0;
    width: 90%;
    align-items: flex-start;
  }
  .description {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 90%;
    height: 200px;
    align-items: flex-start;
    justify-content: center;
  }
}