.footer-div {
    display: flex;
    min-height: 80px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 35px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: #1D222A;
}
.footer {
    display: flex;
    height: 10%;
    max-width: 100%;
    margin-left: 2rem;
    margin-right: 1rem;
    background-color: #1D222A;
    min-height: 80px;
}
footer {
    display: flex;
    position: absolute;
    flex-direction: row;
    height: 10%;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    background-color: #1D222A;
    color: #eeeeee;
    font-family: 'Roboto', sans-serif;
    margin-right: 2px;
    
  }
  .footer-div h2 {
    color: #eeeeee;
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: medium;
  }
  .links-footer {
    display: flex;
    height: 100%;
    width: 25%;
    align-items: center;
    justify-content: space-around;
  }
  .links-footer > svg:hover {
    color: #77FF04
  }