.footer-div {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 35px;
    padding-right: 2%;
    background-color: #1D222A;
}
.footer {
    display: flex;
    height: 10%;
    max-width: 100%;
    margin-left: 2rem;
    margin-right: 1rem;
    background-color: #1D222A;
}
footer {
    display: flex;
    position: absolute;
    flex-direction: row;
    height: 10%;
    width: 100%;
    /* margin-top: 42%; */
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    background-color: #1D222A;
    color: #eeeeee;
    /* border: 2px solid #00ADB5; */
    /* border-radius: 4px; */
    /* padding: 0px 6px 0px 6px; */
    /* gap: 35px; */
    font-family: 'Roboto', sans-serif;
    margin-right: 2px;
    
  }
  .footer-div h2 {
    color: #eeeeee;
    display: flex;
    height: 100%;
    /* width: 30%; */
    margin: 0;
    padding: 0;
    padding-top: 3%;
    font-weight: 300;
    font-size: medium;
  }
  .links-footer {
    display: flex;
    height: 100%;
    width: 40%;
    align-items: center;
    justify-content: flex-end;
  }
svg:hoover {
    color: #00ADB5
  }